/*for medium devices(landscape,tablets)*/
@media(min-width: 992px) and (max-width: 1199px){
    .common-space{
        padding: 0 15px;
    }
    .picture-2 img{
        margin: 20px 0 0 210px;
    }
    .user-note-details p{
        margin-left: 50px;
    }
    
    .user-note-details-ans .rate{
        margin-top: 0;
        margin-left: 70px;
    }
    .user-note-details-ans p{
        line-height: 16px;
    }
    
    .set-padding-cicis-menu-to-go {
    padding: 120px 60px;
}
    #note-details h4{
        margin-top: 10px;
    }
    .red{
        text-align: left;
        margin-left: 50px;
    }
   
}

/*for small devices(small desktop)*/
@media(min-width:768px) and (max-width:991px){
   .dashboard-border
    {
        margin-right: 25px;
        padding: 10px;
    }
    .dashboard-border-2{
       padding: 10px;
    
    }
  /* #dashboard button,
     #dashboard select{
        float: none;
    }
     #dashboard input
    {
        float: left;
    }*/
     .picture-2 img{
        margin: 20px 0 0 320px;
    }
    
    .border-member{
    border-right: 1px solid #d1d1d1;
    margin-right: 0;
}
    /*------note-details-----*/
    .user-note-details p{
    text-align: left;
       margin-left: 0;
    }
    .user-note-details-ans .rate{
        
        margin-top: 0;
        margin-left: 100px;
      
    }
    .review-box p{
        font-size: 8px;
    }
    
    .red{
        text-align: left;
        margin-left: 0;
    }
    .user-note-details,
    .user-note-details-ans{
        margin-top: 30px;
    }
    
}



/*for extra small devices(small desktop,portrait tablets)*/
@media(max-width: 768px){
    #administrator button{
        float: none;
    }
     #administrator input{
        float: left;
    }
     #administrator button,
    #administrator input{
        margin-top: 20px;
    }
     .dashboard-border
    {
        margin-right: 20px;
        padding: 10px;
    }
    .dashboard-border-2{
       padding: 10px;
    
    }
     /*#dashboard button,
     #dashboard select{
        float: none;
    }*/
    /* #dashboard input
    {
        float: left;
    }*/
    #published-note input{
        float: left;
    }
    #published-note button{
        float: none;
    }
    #members input,
    #members button{
    margin-top: 10px;
    }
    #members input{
        float: left;
    }
    #members button{
        float: none;
    }
    .border-member{
    border-bottom: 1px solid #d1d1d1;
    border-right: none;
    margin: 10px 0 10px 0;
    }
    .member-bottom-border{
        border-bottom: none;
    }
   
    /*-----note-details-----*/
    .user-note-details p{
    text-align: left;
       margin-left: 0;
    }
    .user-note-details,
    .user-note-details-ans{
        margin-top: 30px;
    }
    .user-note-details-ans .rate{
        -webkit-transform: translateY(-11px); 
        transform: translateY(-11px);
        margin-left: 100px;
    }
    .red{
        text-align: left;
        margin-left: 0;
    }
    .review-box p{
        margin-top: 20px;
    }
    .review-123{
        font-size: 15px;
    }
    .dash-public-space{
        margin-top: 10px;
    }
    #dashboard h3{
        padding-bottom: 0;
    }
    .pub-left{
        float: left;
    }
    
    
   
    
}

@media(max-width: 480px){
    #footer h3,#footer h4{
        text-align: center;
    }
    .common-space{
        padding: 0 20px;
    }
     .dashboard-border
    {
        margin-right: 5px;
        padding: 5px;
        min-height: 25%;
    }
    .dashboard-border-2{
       padding: 5px;
    
    }
    .box-margin{
        margin-left: 10px;
    }
    .sb-padding{
        padding: 8px;
    }
    .picture-2 img{
        margin: 20px 0 0 210px;
    }
    table{
        font-size: 15px;
    }
    .btn-members{
    float: none;
     }
    #members input{
        float:left;
    }
    /*-----note-details-----*/
    .user-note-details p{
    text-align: left;
      
    }
    .user-note-details-ans .rate{
        margin-left: 70px;
      
    }
     .dashboard-border,
    .dashboard-border-2{
        min-width: 100%;
        
    }
    .common-space{
        padding: 0 20px;
    }
   
}
@media(max-width: 320px){
    #footer h3,
    #footer h4{
        text-align: center;
    }
    .common-space{
        padding: 0 20px;
    }
    .picture-2 img{
        margin: 20px 0 0 130px;
    }
     table{
        font-size: 15px;
    }
    .btn-members{
    float: none;
     }
    #members input{
        float:left;
    }
     .login-label label {
    font-size: 13px;
    font-weight: 200;
    line-height: 10px;
    color: #333333;
    }
    .password-input img { 
    position: absolute;
    top: 30px; 
    right: 5px;
    }
     
    .bg-white p{
    font-size: 13px;
        margin-bottom: 10px;
     }
     #logo img{
        width: 200px;
    }
    .login-check-label {
    font-size: 13px;
   
    }
    .alreadySign {
    font-size: 13px;
     }
    #check{
     height: 16px;
    width: 16px;
    }
    #login-form{
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: 600;
    line-height: 30px;
}
    #members input,
    #members button{
    margin-top: 10px;
    }
    #members input{
        float: left;
    }
    #members button{
        float: none;
    }
    .member-info-ans,
    .member-info{
        font-size: 12px;
    }
    /*-----note-details-----*/
    .user-note-details p{
     line-height: 26px;
    }
    .user-note-details-ans p{
        line-height: 20px;
    }
    .user-note-details-ans .rate{
        float: right;
        margin-left: 5px;
    }
    .user-note-details-ans .rate:not(:checked) > label {
    font-size: 25px;
     }
    .dashboard-border,
    .dashboard-border-2{
        min-width: 100%;
        font-size: 13px;
        margin-bottom: 10px;
    }
    .margin-select{
        margin-top: 10px;
    }
    
    
    
   
}